<form (ngSubmit)="onSubmit()" [formGroup]="doctorDetailsForm">
    <ion-grid>
        <ion-row>
            <ion-col>

                <ion-item lines="none">
                    <ion-label position="stacked">Consulation Date</ion-label>
                    <!-- <ion-datetime id="consulatationDate" (ionChange)="updateDataValue($event,'consulationDate')" ngDefaultControl formControlName="consulationDate" display-format="MMM DD, YYYY" pickerFormat="MMM DD, YYYY"></ion-datetime> -->
                
                    <input ion-input [owlDateTimeFilter]="myFilter" [owlDateTime]="dt1" id="consulatationDate" (ionChange)="updateDataValue($event,'consulationDate')" ngDefaultControl formControlName="consulationDate"   [owlDateTimeTrigger]="dt1" placeholder="Date Time"/>
                    <owl-date-time #dt1 hour12Timer="true" stepHour="1" pickerType="calendar" stepMinute="30"> </owl-date-time>
            
                </ion-item>
                
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Consulation By</ion-label>
                    <ion-input id="consultationBy" ngDefaultControl formControlName="consultationBy" type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Treatment Suggested</ion-label>
                    <ion-select interface="popover" id="typeOfTreatement"  (ionChange)="updateDataValue($event,'typeOfTreatement')" >
                        <ion-select-option value="1"> Natural Bypass Therapy(ECP)</ion-select-option>
                        <ion-select-option value="2"> Bio Angioplasty (BCA)</ion-select-option>
                        <ion-select-option value="3"> Both ECP and BCA</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>

            <ion-col>
                <ion-item>
                    <ion-label position="floating">Additional Information</ion-label>

                    <ion-textarea id="daignosisSummary" ngDefaultControl formControlName="daignosisSummary" rows="5" type="text">
                    </ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <ion-item lines="none">

                    Invoice Amount

                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input id="invoiceTotalamt" ngDefaultControl formControlName="invoiceTotalamt" type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-button float-right type="submit"  [disabled]="!doctorDetailsForm.valid">Submit</ion-button>
        <ion-button float-right type="reset">Reset</ion-button>

    </ion-grid>
</form>

<ion-item-divider class="divider">
</ion-item-divider>
<br>
<ion-grid>
    <ion-row class="divider">
        <ion-col>
            <ion-note color="primary"><b><u><h2>Consultation Details</h2></u></b></ion-note>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <ngx-datatable no-padding class="material fullscreenManual" [headerHeight]="50" [scrollbarH]='true' [limit]="5" [columnMode]="'flexi'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rowsDoctor">
                <ngx-datatable-column name="Consulation Date">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value | date : 'MMM d, y ' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Consultation By">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Treatment Type">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{row.typeOfTreatementDomain.treatmentName}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Invoice Ref No">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{row.invoiceDomain.id}}
                    </ng-template>
                </ngx-datatable-column>
               
            </ngx-datatable>


        </ion-col>
    </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
    <ion-row class="divider">
        <ion-col>
            <ion-note color="primary"><b><u><h2>Invoice Details</h2></u></b></ion-note>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <ngx-datatable   [rowClass]="getRowClass" #myTable class='material fullscreenManual' 
            [limit]="5" [columnMode]="'flexi'" [headerHeight]="50" [sortType]="'multi'" [footerHeight]="50" [rowHeight]="'auto'" 
         
            [scrollbarH]="'true'" [rows]='rowsInvoice' >
                <ngx-datatable-column name="Invoice No">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{row.id}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Invoice Type">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{row.invoiceType.typeName}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Generated By">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.generatedBy.username}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Payment Mode">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-select *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'" value="" name="paymentMode" (ionChange)="updateValueInvoice($event, 'paymentMode', rowIndex)">
                            <ion-select-option value="cheque">Cheque</ion-select-option>
                            <ion-select-option value="online">Online</ion-select-option>
                            <ion-select-option value="cash">Cash</ion-select-option>
                        </ion-select>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Bank Name">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-input *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'" name="bankName" autofocus (blur)="updateValueInvoice($event, 'bankName', rowIndex)" type="text">

                        </ion-input>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reference Number">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-input *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'" autofocus (blur)="updateValueInvoice($event, 'referenceNumber', rowIndex)" type="text"></ion-input>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payment Amount">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-input *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'" autofocus (blur)="updateValueInvoice($event, 'paymentAmount', rowIndex)" type="number"></ion-input>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total Invoice Amount">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.totalInvoiceAmt}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Balance Amount">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.balanceAmt}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Invoice Status">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">


                        <ion-select value="{{row.invoiceStatus}}" [disabled]="row.invoiceStatus=='Payement Completed'" name="invoiceStatus" (ionChange)="updateValueInvoice($event, 'cancelInvoice', rowIndex)">
                            <ion-select-option value="Total Payment Pending">Pending</ion-select-option>
                            <ion-select-option value="Partially Pending">Partial</ion-select-option>
                            <ion-select-option value="Payement Completed">Completed</ion-select-option>
                            <ion-select-option value="Invoice Cancelled">Cancel</ion-select-option>

                        </ion-select>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column  width="200" name="Action">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >

                        <ion-button *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'" size="small" shape="round" (click)="generateReciept($event, 'name', rowIndex, row)" color="primary">Generate Reciept  </ion-button>

                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>


        </ion-col>
    </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
    <ion-row class="divider">
        <ion-col>
            <ion-note color="primary"><b><u><h2>Payement Receipts</h2></u></b></ion-note>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <ngx-datatable #myTable class='material fullscreenManual' [columnMode]="'flexi'" [headerHeight]="50" 
            [sortType]="'multi'" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="'true'" [limit]="5" [rows]='rowsPayment'>
                <ngx-datatable-column name="Invoice No">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{row.invoiceId}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Recived By">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{row.recievedBy}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.paymentDate | date : 'MMM d, y '}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reference Number">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.paymentReferenceNo}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payment Mode">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-text> {{row.paymentMode}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payment Amount">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <ion-text> {{row.paymentAmount}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column width="200" name="Print">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-button size="small" shape="round" (click)="printReciept($event, 'name', rowIndex, row)" color="primary">Print Reciept</ion-button>
                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>


        </ion-col>
    </ion-row>
</ion-grid>
<br>