<form>
    <ion-grid>
        <ion-row>
            <ion-col>

                <ion-item>
                    <ion-label position="floating">Consulation Date</ion-label>
                    <ion-datetime displayFormat="" pickerFormat=""></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Consulation By</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Daignosis</ion-label>
                    <ion-textarea rows="10" type="text" id="daignosis">
                    </ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Test Suggested</ion-label>
                    <ion-textarea rows="10" type="text">
                    </ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-item lines="none">

                    Upload Document (if any)


                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>


                    <ion-input type="file"></ion-input>

                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button float-right type="submit">Submit</ion-button>
    <ion-button float-right type="reset">Reset</ion-button>
</form>

<ion-item-divider class="divider">
</ion-item-divider>