ion-segment {
    display: block;
    white-space: normal;
    font-size: 0;
    overflow: auto;
    word-wrap: break-word;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }
    ion-segment-button.segment-button {
        display: inline-block;
        min-width: 100px;
        width: auto;
    }
}