.ngx-datatable,
.info {
    text-align: left;
    width: 98% !important;
    margin: 0 auto;
}

datatable-scroller {
    width: 100% !important;
}

.ionicons:hover {
    cursor: pointer;
}

.row-wrap {
    white-space: pre-wrap
}

 :host /deep/ .datatable-row-group {
    will-change: transform;
}

 :host /deep/ .ngx-datatable.material .datatable-header .datatable-row-right {
    margin-left: -8px;
}