<!-- <form (ngSubmit)="onSubmit()" [formGroup]="treatmentPlanForm">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Treatment Type</ion-label>
                    <ion-select (ionChange)="updateDataValue($event,'treatmentPlanId')" ngDefaultControl formControlName="treatmentPlanId" id="treatmentPlanId">
                        <ion-select-option value=""></ion-select-option>
                        <ion-select-option *ngFor="let treat of treatMentOptionList" value="{{treat.value}}">{{treat.text}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="treatMentOptionList.length > 0">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Date</ion-label>
                    <ion-datetime id="treatmentDate" (ionChange)="updateDataValue($event,'treatmentDate')" name="treatmentDate" ngDefaultControl formControlName="treatmentDate"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Duration</ion-label>
                        <ion-input type="number" ngDefaultControl max="60" formControlName="duration"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="treatMentOptionList.length > 0">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Beggining B.P.</ion-label>
                    <ion-input type="number" ngDefaultControl formControlName="begBp"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Beggining H.P.</ion-label>
                    <ion-input type="number" ngDefaultControl formControlName="begHp"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="treatMentOptionList.length > 0">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">End B.P.</ion-label>
                    <ion-input type="number" ngDefaultControl formControlName="endBp"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">End H.P.</ion-label>
                    <ion-input type="number" ngDefaultControl formControlName="endHp"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="treatMentOptionList.length > 0">
            <ion-col size="8">
                <ion-item>
                    <ion-label position="floating">Complaints</ion-label>
                    <ion-textarea id="complaints" ngDefaultControl formControlName="complaints" rows="2" type="text">
                    </ion-textarea>


                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button *ngIf="treatMentOptionList.length > 0" float-right type="submit">Submit</ion-button>
    <ion-button *ngIf="treatMentOptionList.length > 0" float-right type="reset">Reset</ion-button>
</form> -->
<!-- 
<ion-item-divider class="divider">
</ion-item-divider>
<br> -->
<ion-item>
    <ion-label position="floating">Select Invoice Ref</ion-label>
    <ion-select (ionChange)="changeTreatmentPlanTable($event)" interface="popover" ngDefaultControl  id="treatmentPlanId">
        <ion-select-option *ngFor="let treat of treatMentOptionList" value="{{treat.value}}">{{treat.text}}</ion-select-option>
    </ion-select>
</ion-item>
<ion-grid>
    <ion-row class="divider">
        <ion-col>
            <ion-note color="primary"><b><u><h2>ECP Treatment Plan Details History</h2></u></b></ion-note>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <ngx-datatable no-padding class="material fullscreenManual"
             [headerHeight]="50" [scrollbarH]='true' [limit]="10" [columnMode]="'flexi'" 
             [footerHeight]="50" [rowHeight]="'auto'" [rows]="rowsTreatmentDetail">
                <ngx-datatable-column name="Treatment Date">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value | date : 'MMM d, y, h:mm:ss a' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Duration">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{row.duration |  slice:2}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Visit Status">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{row.isTreatmentDone}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Complaints">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{row.complaints}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>


        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid>
    <ion-row class="divider">
        <ion-col>
            <ion-note color="primary"><b><u><h2>BCA Treatment Plan Details History</h2></u></b></ion-note>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <ngx-datatable no-padding class="material fullscreenManual"
             [headerHeight]="50" [scrollbarH]='true' [limit]="10" [columnMode]="'flexi'" 
             [footerHeight]="50" [rowHeight]="'auto'" [rows]="rowsTreatmentDetailBca">
                <ngx-datatable-column name="Treatment Date">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value | date : 'MMM d, y, h:mm:ss a' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Duration">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{row.duration |  slice:2}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Visit Status">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{row.isTreatmentDone}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Complaints">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{row.complaints}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>


        </ion-col>
    </ion-row>
</ion-grid>