<!-- <ion-header>
    <ion-toolbar>
        <ion-title>customer-search</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Search Stock
            </ion-card-title>
            <ion-card-subtitle>
                Update Stock/Items
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <!-- Animated Searchbar -->

            <ion-searchbar (ionInput)="getCustomerListBySearch($event)" animated showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>

            <ngx-datatable #myTable class='material' [columnMode]="'standard'" [headerHeight]="50" [sortType]="'multi'" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="'true'" [scrollbarH]="'true'" [rows]='rows' (page)="onPage($event)">
                <!-- Row Detail Template 
                <ngx-datatable-row-detail [rowHeight]="getHeight()" #myDetailRow>
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-row-detail-template>
                        <div><strong>Address</strong></div>
                        <div class="row-wrap">{{row.address}}</div>
                    </ng-template>
                </ngx-datatable-row-detail> -->
                <!-- Column Templates 
                <ngx-datatable-column [width]="50">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row,expanded)">
                        </a>
                    </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Sr No" width="80">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <strong>{{rowIndex+1}}</strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Stock/Item Id" width="180">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a [routerDirection]="'forward'" [routerLink]="['/stock/details/',row.id]">
                            <b><i> {{row.id}}  </i></b>
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Item Name" width="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.stockName}} </strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Available QTY" width="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.qtyOfStockAvailable}} </strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Current Rate" width="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.currentRateOfStock}} </strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Item Category" width="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.stockCategoryDomain.categoryName}} </strong>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Net Stock Value" width="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.curentStockValue}} </strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Added On (Date and Time) " width="300">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.addedOn | date : 'MMM d, y, h:mm:ss a' }} </strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Last Updated On (Date and Time) " width="300">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.lastUpdatedOn | date : 'MMM d, y, h:mm:ss a' }} </strong>
                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>

        </ion-card-content>
    </ion-card>
</ion-content>