.toolbar-label {
    font-size: 1.3em;
}




:host /deep/ .strike {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
      );
      padding: 10px;
      font-size: 12px;
      background-color: #d1e8ff;
      border: 1px solid #1e90ff;
      color: rgb(0, 0, 0);
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 100%;
      border-radius: 5px;
      font-size: 0.875em;
      font-weight: bold;
}

:host /deep/ .nonstrike{
    padding: 10px;
    font-size: 12px;
    background-color: #d1e8ff;
    border: 1px solid #1e90ff;
    color: #1e90ff;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    border-radius: 5px;
    font-size: 0.875em;
    font-weight: bold;
}
div[scrolly=true] {
    overflow-y: auto;
  }