<app-header></app-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            Search/Schedule Pateint Appointment/Treatment Plan
                        </ion-card-title>

                    </ion-card-header>
                    <ion-card-content>
                        <app-search-update-schedule></app-search-update-schedule>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            Patient's Queue
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <ion-button no-margin class="btn btn-primary" mwlCalendarPreviousView [view]="'day'" [(viewDate)]="viewDate">
                                        Previous
                                    </ion-button>
                                    <ion-button no-margin class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                                        Today
                                    </ion-button>
                                    <ion-button no-margin class="btn btn-primary" mwlCalendarNextView [view]="'day'" [(viewDate)]="viewDate">
                                        Next
                                    </ion-button>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <h3>{{ viewDate | calendarDate:('dayViewTitle') }}</h3>
                            </div>
                        </div>
                        <br />

                        <mwl-day-view-scheduler [dayStartHour]="8" [refresh]="refresh" [dayEndHour]="18" (user)="users" [viewDate]="viewDate" [events]="events" (eventTimesChanged)="eventTimesChanged($event)" (userChanged)="userChanged($event)">
                        </mwl-day-view-scheduler>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            In House Appointments List
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-list-header>
                                <ion-label>Customer's List</ion-label>
                            </ion-list-header>
                            <!-- <ion-virtual-scroll> -->



                            <ion-item class="ion-activatable" ion-activatable *ngFor="let patient of patientList">
                                <ion-ripple-effect (click)="markAppointmentAlert(patient)"></ion-ripple-effect>
                                <ion-label>
                                    <h4>
                                        {{patient.customerName}}
                                    </h4>
                                    <p>
                                        Expected Time {{patient.expectedTime | date:'medium' }}
                                    </p>
                                    <p>
                                        Visit No
                                        <ion-badge slot="end"> {{patient.scheduledNumber}}</ion-badge>
                                    </p>
                                </ion-label>

                            </ion-item>

                            <!-- </ion-virtual-scroll> -->
                        </ion-list>
                    </ion-card-content>
                    <ion-row class="cardfooter">
                        <ion-col>
                            <p>Total Patient Pending {{patientList.length}} </p>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            BCA Appointments List
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-list-header>
                                <ion-label>Customer's List</ion-label>
                            </ion-list-header>
                            <!-- <ion-virtual-scroll> -->



                            <ion-item class="ion-activatable" ion-activatable *ngFor="let patient of bcaPateintList">
                                <ion-ripple-effect (click)="markAppointmentAlert(patient)"></ion-ripple-effect>
                                <ion-label>
                                    <h4>
                                        {{patient.customerName}}
                                    </h4>
                                    <p>
                                        Expected Time {{patient.expectedTime | date:'medium' }}
                                    </p>
                                    <p>
                                        BCA Visit No
                                        <ion-badge slot="end"> {{patient.scheduledNumber}}</ion-badge>
                                    </p>
                                </ion-label>

                            </ion-item>

                            <!-- </ion-virtual-scroll> -->
                        </ion-list>
                    </ion-card-content>
                    <ion-row class="cardfooter">
                        <ion-col>
                            <p>Total Patient Pending {{patientList.length}} </p>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        New Joinee List
                    </ion-card-header>
                    <ion-card-content>
                  
                        <ion-searchbar (ionInput)="getCustomerListBySearch($event)" animated showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>
                        <!-- (page)="onPage($event)" -->
                        <ngx-datatable #myTable class='material' [columnMode]="'standard'" [headerHeight]="50" [sortType]="'multi'" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="'true'" [scrollbarH]="'true'" [rows]='rowsNewJoinee'>
                            <ngx-datatable-column name="Sr No" width="80">
                                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                    <strong>{{rowIndex+1}}</strong>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Customer Id" width="180">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a [routerDirection]="'forward'" [routerLink]="['/customer/details/',row.id]">
                                        <b><i> {{row.customerRefId}}  </i></b>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Name" width="150">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.firstName}} {{row.lastName}}</strong>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Enrolled for Treatment " width="50">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.treatmentPlanList.length > 0 ? 'Yes':'No'}}</strong>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Gender" width="75">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <strong>{{value}}</strong>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Email Id" width="100">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <strong>{{value}}</strong>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Mobile No" width="100">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <strong>{{value}}</strong>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Alt Mobile No" width="100">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <strong>{{value}}</strong>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Added On (Date and Time) " width="300">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.dateOfCreation | date : 'MMM d, y, h:mm:ss a' }} </strong>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        Payement Pending List
                    </ion-card-header>
                    <ion-card-content>
                            <ion-searchbar (ionInput)="getPaymentListBySearch($event)" animated showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>
                            <!-- (page)="onPage($event)" -->
                            <ngx-datatable class='material' [columnMode]="'standard'" [headerHeight]="50" [sortType]="'multi'" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="'true'" [scrollbarH]="'true'" [rows]='rowsPayment'>
                                <ngx-datatable-column name="Sr No" width="80">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                        <strong>{{rowIndex+1}}</strong>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Customer Id" width="180">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <a [routerDirection]="'forward'" [routerLink]="['/customer/details/',row.id]">
                                            <b><i> {{row.customerId}}  </i></b>
                                        </a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Name" width="150">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <strong>{{row.customerName}}</strong>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Mobile No" width="75">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <strong>{{row.mobileNo}}</strong>
                                        </ng-template>
                                    </ngx-datatable-column>
                                <ngx-datatable-column name="Enrolled for Treatment " width="50">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <strong>{{row.enrolledFor}}</strong>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Balance Amount" width="75">
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <strong>{{row.balanceAmt}}</strong>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Total Amount" width="75">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <strong>{{row.totalInvoiceAmt}}</strong>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Total Recieved" width="75">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{row.totalInvoiceAmt - row.balanceAmt}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                <ngx-datatable-column name="Inv Date (Date and Time) " width="300">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <strong>{{row.createdDate | date : 'MMM d, y, h:mm:ss a' }} </strong>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        Treatment Plan pending list
                    </ion-card-header>
                    <ion-card-content>


                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        Low Stock Alert List
                    </ion-card-header>
                    <ion-card-content>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>