<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="primary">
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            <ion-grid>
                <ion-row nowrap>
                    <ion-col size="1" class="col-logo-size" no-padding>
                        <ion-icon size="large" name="logo-skype"></ion-icon>
                    </ion-col>
                    <ion-col>
                        Saaol Heart Center Juhu
                    </ion-col>
                </ion-row>

            </ion-grid>


        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>