<ion-grid>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item>
                    <ion-label>Consultaion Number</ion-label>
                    <ion-input type="readonly"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Saaol Code</ion-label>
                    <ion-input type=""></ion-input>
                </ion-item>
            </ion-list>

        </ion-col>
        <ion-col>

        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
    </ion-row>
</ion-grid>