<ion-grid>
    <ion-row>
        <ion-col size="3">
            <ion-label>
                <ion-text color="dark"><b>Consultation Number:- </b></ion-text>
            </ion-label>
        </ion-col>
        <ion-col size="3">
            {{customerDetails.id}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <ion-label>
                <ion-text color="dark"><b>   SAAOL Code: -</b></ion-text>
            </ion-label>
        </ion-col>
        <ion-col size="3">
            {{customerDetails.saaolCode}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <ion-label>
                <ion-text color="dark"><b> Pateint Name</b></ion-text>
            </ion-label>
        </ion-col>
        <ion-col size="3">
            {{customerDetails.firstName}} {{customerDetails.lastName}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <ion-label>
                <ion-text color="dark"><b>     Date of Birth</b></ion-text>
            </ion-label>
        </ion-col>
        <ion-col size="3">
            {{customerDetails.dob | date:'MMM d, y'}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <ion-label>
                <ion-text color="dark"><b> Age</b></ion-text>
            </ion-label>
        </ion-col>
        <ion-col size="3">
            {{customerDetails.age}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <ion-label>
                <ion-text color="dark"><b>    Gender</b></ion-text>
            </ion-label>
        </ion-col>
        <ion-col size="3">
            {{customerDetails.gender}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <ion-label>
                <ion-text color="dark"><b> Address</b></ion-text>
            </ion-label>
        </ion-col>
        <ion-col size="3" wrap-text>
            {{customerDetails.address}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <ion-label>
                <ion-text color="dark"><b>   Email Id</b></ion-text>
            </ion-label>
        </ion-col>
        <ion-col size="3">
            {{customerDetails.emailId}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <ion-label>
                <ion-text color="dark"><b> Aadhar Number</b></ion-text>
            </ion-label>
        </ion-col>
        <ion-col size="3">
            {{customerDetails.aadharNumber}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label>
                            <ion-text color="dark"><b> Mobile (Primary)</b></ion-text>
                        </ion-label>
                    </ion-col>
                    <ion-col>
                        {{customerDetails.mobileNo}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>
                            <ion-text color="dark"><b> Pateint Added On</b></ion-text>
                        </ion-label>
                    </ion-col>
                    <ion-col>
                        {{customerDetails.dateOfCreation | date:'MMM d, y'}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col no-padding>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label>
                            <ion-text color="dark"><b>  Pateint Added by</b></ion-text>
                        </ion-label>
                    </ion-col>
                    <ion-col>
                        {{customerDetails.generetedBy}}
                    </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col>
                            <ion-label>
                                <ion-text color="dark"><b>  Pateint Type</b></ion-text>
                            </ion-label>
                        </ion-col>
                        <ion-col>
                            {{customerDetails.vistingFor | uppercase}} 
                        </ion-col>
                    </ion-row>
                    <ion-row><ion-col>
                                <ion-button  (click)="navigateToRegistration(customerDetails.id)"   class="ion-float-right">Edit/Update Details</ion-button>
                     
                        </ion-col>
                        </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
   
</ion-grid>