<form (ngSubmit)="onSubmit()" [formGroup]="ctAngioForm">
    <ion-grid>
        <ion-row>
            <ion-col size="8">

                <ion-item>
                    <ion-label position="floating">Center Name</ion-label>
                    <ion-input type="text" ngDefaultControl formControlName="centerName"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>

                <ion-item>
                    <ion-label  position="stacked">Date</ion-label>
                    <!-- <ion-datetime id="consulatationDate" ngDefaultControl formControlName="refDate" value="213" displayFormat="" pickerFormat=""></ion-datetime> -->
                
                    <input ion-input [owlDateTimeFilter]="myFilter"  [owlDateTime]="dt1" id="refDate"  (ionChange)="updateDataValue($event,'consulationDate')"  ngDefaultControl formControlName="refDate"   [owlDateTimeTrigger]="dt1" placeholder="Date Time"/>
                    <owl-date-time #dt1 hour12Timer="true" stepHour="1" pickerType="calendar" stepMinute="30"> </owl-date-time>
            
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8">

                <ion-item>
                    <ion-label position="floating">Address Line 1</ion-label>
                    <ion-input type="text" ngDefaultControl formControlName="addLine1"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>

                <ion-item>
                    <ion-label position="floating">City</ion-label>
                    <ion-input type="text" ngDefaultControl formControlName="city"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8">

                <ion-item>
                    <ion-label position="floating">Address Line 2</ion-label>
                    <ion-input type="text" ngDefaultControl formControlName="addLine2"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>

                <ion-item>
                    <ion-label position="floating">Pincode</ion-label>
                    <ion-input type="number" ngDefaultControl formControlName="pincode"></ion-input>
                </ion-item>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col size="8">

                <ion-item>
                    <ion-label position="floating">Contact Detail</ion-label>
                    <ion-input type="text" ngDefaultControl formControlName="contactNo"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>

                <ion-item>
                    <ion-label position="floating">Landmark</ion-label>
                    <ion-input type="number" ngDefaultControl formControlName="landmark"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8">

                <ion-item>
                    <ion-label position="floating">Scan Test Name</ion-label>
                    <ion-input type="text" ngDefaultControl formControlName="scanTestName"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="8">

                <ion-item>
                    <ion-label position="floating">Invoice Amount</ion-label>
                    <ion-input type="number"  (ionChange)="updateDataValue($event,'invoiceTotalamt')"  ngDefaultControl formControlName="invoiceTotalamt"></ion-input>
                </ion-item>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-button float-right type="submit">Submit</ion-button>
    <ion-button float-right type="reset">Reset</ion-button>
</form>

<ion-item-divider class="divider">
</ion-item-divider>
<br>
<ion-grid>
    <ion-row class="divider">
        <ion-col>
            <ion-note color="primary"><b><u><h2>CT Angiography Details</h2></u></b></ion-note>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <ngx-datatable no-padding class="material fullscreenManual" [headerHeight]="50" [scrollbarH]='true' [limit]="5" 
            [columnMode]="'flexi'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rowsCtAngio">
                <ngx-datatable-column name="Ref Date">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value | date : 'MMM d, y' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Center Name">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Scan Test Name">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Invoice Ref No">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        {{row.invoiceDomain.id}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column  width="200" name="Action">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >

                        <ion-button  size="small" shape="round" (click)="printMou(row.id)" color="primary">Generate MOU  </ion-button>

                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>


        </ion-col>
    </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
    <ion-row class="divider">
        <ion-col>
            <ion-note color="primary"><b><u><h2>Invoice Details</h2></u></b></ion-note>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <ngx-datatable  [rowClass]="getRowClass" #myTable class='material fullscreenManual' 
            [columnMode]="'flexi'" [headerHeight]="50" [sortType]="'multi'" 
            [limit]="8"
            [footerHeight]="50" [rowHeight]="'auto'" 
             [scrollbarH]="'true'" [rows]='rowsInvoice' >
                <ngx-datatable-column name="Invoice No">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{row.id}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Invoice Type">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{row.invoiceType.typeName}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Generated By">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.generatedBy.username}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Payment Mode">
                    <ng-template  ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-select *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'" value="" name="paymentMode" (ionChange)="updateValueInvoice($event, 'paymentMode', rowIndex)">
                            <ion-select-option value="cheque">Cheque</ion-select-option>
                            <ion-select-option value="online">Online</ion-select-option>
                            <ion-select-option value="cash">Cash</ion-select-option>
                        </ion-select>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Bank Name">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-input *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'" name="bankName" autofocus (blur)="updateValueInvoice($event, 'bankName', rowIndex)" type="text">

                        </ion-input>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reference Number">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-input *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'" autofocus (blur)="updateValueInvoice($event, 'referenceNumber', rowIndex)" type="text"></ion-input>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payment Amount">
                    <ng-template  ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-input  *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'" autofocus (blur)="updateValueInvoice($event, 'paymentAmount', rowIndex)" type="number" ></ion-input>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total Invoice Amount">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.totalInvoiceAmt}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Balance Amount">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.balanceAmt}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Invoice Status">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">


                        <ion-select   value="{{row.invoiceStatus}}" name="invoiceStatus" (ionChange)="updateValueInvoice($event, 'cancelInvoice', rowIndex)">
                            <ion-select-option value="Total Payment Pending">Pending</ion-select-option>
                            <ion-select-option value="Partially Pending">Partial</ion-select-option>
                            <ion-select-option value="Payement Conpleted">Completed</ion-select-option>
                            <ion-select-option value="Invoice Cancelled">Cancel</ion-select-option>

                        </ion-select>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column width="200" name="Payment Amount">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-button *ngIf="row.invoiceStatus=='Total Payment Pending' ||  row.invoiceStatus=='Partially Pending'"  size="small" shape="round" (click)="generateReciept($event, 'name', rowIndex, row)" color="primary">Generate Reciept</ion-button>
                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>


        </ion-col>
    </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
    <ion-row class="divider">
        <ion-col>
            <ion-note color="primary"><b><u><h2>Payement Receipts</h2></u></b></ion-note>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <ngx-datatable #myTable class='material fullscreenManual' [columnMode]="'flexi'" 
            [headerHeight]="50" [sortType]="'multi'" [footerHeight]="50" [rowHeight]="'auto'"
             [scrollbarH]="'true'" [rows]='rowsPayment' >
                <ngx-datatable-column name="Invoice No">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{row.invoiceId}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Recived By">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{row.recievedBy}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.paymentDate | date : 'MMM d, y, h:mm:ss a' }}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reference Number">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <ion-text> {{row.paymentReferenceNo}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payment Mode">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-text> {{row.paymentMode}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payment Amount">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <ion-text> {{row.paymentAmount}}</ion-text>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column width="200" name="Print">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                        <ion-button size="small" shape="round" (click)="printReciept($event, 'name', rowIndex, row)" color="primary">Print Reciept</ion-button>
                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>


        </ion-col>
    </ion-row>
</ion-grid>
<br>