.divider {
    border-bottom: 2px solid black !important;
}

.noLines {
    border-bottom: 0px !important;
}


/* Structure */

ion-grid {
    border: 1px solid black !important;
}

.fullscreenManual {
    height: auto !important;
    width: 95%;
}

:host /deep/ .datatable-row-group {
    will-change: transform;
}

 :host /deep/ .ngx-datatable.material .datatable-header .datatable-row-right {
    margin-left: -8px;
}

:host /deep/ .row-color {
    background-color: lightgreen;
}