.divider {
    border-bottom: 2px solid black !important;
}

.noLines {
    border-bottom: 0px !important;
}


/* Structure */

ion-grid {
    border: 1px solid black !important;
}

.fullscreenManual {
    height: auto !important;
    width: 95%;
}