// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '../node_modules/@swimlane/ngx-datatable/src/themes/bootstrap';
@import '../node_modules/@swimlane/ngx-datatable/src/themes/dark';
@import '../node_modules/@swimlane/ngx-datatable/src/themes/material';
@import '../node_modules/@swimlane/ngx-datatable/assets/app.css';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
.my-custom-modal-css .modal-wrapper {
    height: 70%;
    top: 80%;
    // position: absolute;
    // display: block;
}

.ngx-datatable,
.info {
    text-align: left;
    width: 98% !important;
    margin: 0 auto;
}

datatable-scroller {
    width: 100% !important;
}

.row-wrap {
    white-space: pre-wrap
}

 :host /deep/ .datatable-row-group {
    will-change: transform;
}

 :host /deep/ .ngx-datatable.material .datatable-header .datatable-row-right {
    margin-left: -8px;
}