<app-header></app-header>

<ion-content padding>
    <ng-container>

    </ng-container>
    <ng-template>
        <ion-card>
            <ion-router-outlet></ion-router-outlet>
        </ion-card>

    </ng-template>

    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="register">
                <ion-icon name="person-add"></ion-icon>
                <ion-label>Add Customers</ion-label>

            </ion-tab-button>

            <ion-tab-button tab="search">
                <ion-icon name="search"></ion-icon>
                <ion-label>Search/Update</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="details">
                <ion-icon name="grid"></ion-icon>
                <ion-label>Request</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>