<app-header></app-header>

<ion-content padding>
    <ng-container>

    </ng-container>
    <ng-template>
        <ion-card>
            <ion-router-outlet></ion-router-outlet>
        </ion-card>

    </ng-template>

    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="newsales">
                <ion-icon name="person-add"></ion-icon>
                <ion-label>New Sales/Invoices</ion-label>

            </ion-tab-button>

            <ion-tab-button tab="searchinvoices">
                <ion-icon name="search"></ion-icon>
                <ion-label>Search Sales</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="details">
                <ion-icon name="grid"></ion-icon>
                <ion-label>Details Of Sales</ion-label>
                <ion-badge>6</ion-badge>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>