<ion-header>
    <ion-toolbar>
        <ion-title>Customer Details</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header>
            <ion-card-title>

            </ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <ion-grid slot="start">

                <ion-row>

                    <ion-col align-self-start size="3">
                        <ion-segment [(ngModel)]="pet" color="primary">
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <ion-list>
                                            <ion-list-header>
                                                ion-card-content
                                            </ion-list-header>
                                            <ion-item>
                                                <ion-segment-button value="puppies">
                                                    Customer Details
                                                </ion-segment-button>
                                            </ion-item>
                                            <ion-item>
                                                Doctor
                                            </ion-item>
                                            <ion-item>
                                                CT ANGIO
                                            </ion-item>
                                        </ion-list>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item>
                                            aasdf
                                        </ion-item>
                                    </ion-col>
                                </ion-row>

                            </ion-grid>
                        </ion-segment>
                    </ion-col>
                    <ion-col>

                        <div [ngSwitch]="pet">

                            <app-customer-detail *ngSwitchCase="'puppies'"></app-customer-detail>


                            <ion-list *ngSwitchCase="'kittens'">
                                <ion-item>
                                    <ion-thumbnail item-start>
                                        <img src="img/thumbnail-kitten-1.jpg">
                                    </ion-thumbnail>
                                    <h2>Luna</h2>
                                </ion-item>
                                ...
                            </ion-list>
                        </div>

                    </ion-col>
                </ion-row>

            </ion-grid>

        </ion-card-content>

    </ion-card>

</ion-content>