<ion-header>
    <ion-toolbar>
        <ion-title>Customer Details</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header color="primary">
            <ion-card-title>
                {{customerFormDetails.firstName}} {{customerFormDetails.lastName}} - Counsultation ID {{customerFormDetails.consultaionNumber}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <ion-grid>

                <ion-row>

                    <ion-col align-self-stretch size="3">
                        <ion-segment [(ngModel)]="customercomp" (ionChange)="onSegmentChange($event)" color="primary">


                            <ion-segment-button value="customerdetails" float-left>
                                Customer Details
                            </ion-segment-button>
                            <div *ngIf="customerFormDetails['vistingFor'] =='treatment'">
                            <ion-segment-button float-left value="doctordetails">
                                Doctor Consultation
                            </ion-segment-button>
                            <ion-segment-button float-left value="ctangiographydetails">
                                Ct Angiography MOU
                            </ion-segment-button>
                         
                            <ion-segment-button float-left value="treatmentinvoicedetails">
                                Treatment Invoice
                            </ion-segment-button>
                            <ion-segment-button float-left value="treatmentplandetails">
                                Treatment Plan
                            </ion-segment-button>
                        </div>
                        </ion-segment>
                    </ion-col>


                    <ion-col [ngSwitch]="customercomp">
                        <app-customer-detail  *ngSwitchCase="'customerdetails'"></app-customer-detail>
                        <app-doctor-details *ngSwitchCase="'doctordetails'"></app-doctor-details>
                        <app-ct-angiography-details *ngSwitchCase="'ctangiographydetails'"></app-ct-angiography-details>
                        <app-treatment-invoice-details *ngSwitchCase="'treatmentinvoicedetails'"></app-treatment-invoice-details>
                        <app-treatment-plan-detail *ngSwitchCase="'treatmentplandetails'"></app-treatment-plan-detail>
                        <!-- <app-invoice-details *ngSwitchCase="'invociedetails'"></app-invoice-details> -->
                    </ion-col>
              
                </ion-row>

            </ion-grid>

        </ion-card-content>

    </ion-card>

</ion-content>